.intro {
  background-image: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)  ),
  url('images/moscow_bg.jpg');
  width: 100%;
  min-height: 250px;
  background-position: 50% 50%;
  background-attachment: scroll, fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 30px;
  margin-bottom: 20px:
}


.intro .text-big
{
  font-size: 32px;
  padding-top: 10px;
  color: #fff;
  max-width: 70%;
  margin: 0 15%;
  text-align: center;
}

.intro .text-medium {
  font-size: 24px;
  color: #fff;
  max-width: 70%;
  margin: 0 15%;
  text-align: center;
}


