.order {
  margin: 20px 0 0 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  background: #ccc;

}

.order-form {
  margin-top: 20px;
}

.order-form input {
  font-size: 25px;
  height: 47px;
  margin: 5px 10px;
  vertical-align: top;
}

@media (max-width: 700px) {
  .order-form input {
    display: block;
    width: 95%;
    text-align: center;
  }

  .order-form {
    margin: 20px auto;
  }
}


@media (max-width: 600px) {
  .order-form input {
    max-width: 100%;
  }
}
