.reviews {
  margin: 20px auto;
  width: 80%;
  font-family: 'Open Sans', sans-serif;
}

.review {
  display: block;
  margin: 20px 20px;
  background: #ddd;
  border-radius: 12px;
  padding: 15px;
}

.review-author {
  font-size: 30px;
  color: brown;
}

.review-text {
  font-size: 24px;
}

.review img {
  width: 70px;
  border-radius: 50px;
  float: left;
  margin: 0px 5px 5px 0px;
}

